{% extends 'content_base.html.twig' %}

{% block title %}Fehler{% endblock %}
{% block description %}Seite konnte nicht geladen werden{% endblock %}

{% block content %}
    <h1>Fehler</h1>
    <p>Seite kontne nicht geladen werden</p>
{% endblock %}