{% extends 'content_base.html.twig' %}

{% block title %}404{% endblock %}
{% block description %}Seite nicht gefunden{% endblock %}

{% set color_class = "error" %}

{% block content %}
    <h2>Diese Seite wurde nicht gefunden</h2>
    <p>Hier gehts zurück auf die <a href="{{ path("homepage") }}">Startseite</a></p>
{% endblock %}