{% extends 'content_base.html.twig' %}

{% block title %}404{% endblock %}
{% block description %}Seite nicht gefunden{% endblock %}

{% block content %}
    <h1>404: nicht gefunden auf my_page.</h1>
    <p>Wir haben die gewünsche Seite leider nicht gefunden</p>
{% endblock %}