security:
    access_decision_manager:
        strategy: unanimous

    encoders:
        App\Entity\FrontendUser: bcrypt

    role_hierarchy:
        ROLE_ADMIN:       ROLE_USER
        ROLE_SUPER_ADMIN: ROLE_ADMIN

    providers:
        frontend_user_provider:
            id: App\Security\FrontendUserProvider
        admin_user_provider:
            id: App\Security\AdminUserProvider

    firewalls:
        # disables authentication for assets and the profiler
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        # main firewall for logged in users
        main:
            pattern:   ^/
            anonymous: ~
            provider: frontend_user_provider
            form_login:
                login_path: login_index
                check_path: login_check
                default_target_path: index_index
                csrf_token_generator: security.csrf.token_manager
                # field names for the username and password fields
                username_parameter: login[email]
                password_parameter: login[password]
            logout:       true
            anonymous:    true
            logout_on_user_change: true
            remember_me:
              secret: '%env(APP_SECRET)%'
              lifetime: 604800
              path: /
              always_remember_me: true

        #backend firewall for admins
        backend:
            pattern:   ^/backend
            anonymous: ~
            provider: admin_user_provider
            form_login:
                login_path: backend_login
                check_path: backend_login_check
                default_target_path: backend_dashboard_index
                csrf_token_generator: security.csrf.token_manager

            logout:       true
            anonymous:    true
            logout_on_user_change: true

    access_control:
        #enable login
        - { path: ^/login, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/reset, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/invite, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/contact, role: IS_AUTHENTICATED_ANONYMOUSLY }

        #allow cron jobs / debugging routes
        - { path: ^/cron, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/_, role: IS_AUTHENTICATED_ANONYMOUSLY }

        #allow info pages
        - { path: ^/$, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/about, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/contact, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/email, role: IS_AUTHENTICATED_ANONYMOUSLY }

        #level1: user
        - { path: ^/, role: ROLE_USER }