
###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###

# nodejs
/node_modules/

# IDE files
.idea

#phar files
*.phar

#deployment info
servers.yml

public/build
public/bundles