
###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###
 
# cache, logs, data
/var/cache/
/var/logs/
/var/data/

# nodejs
/node_modules/

# IDE files
.idea

#phar files
*.phar

#local data
data/*