.base: &base
  hostname: ftp.HOST.ch
  user: USER
  http_user: USER
  branch: master
  deploy_path: ~/www/knbu.nodika.ch/{{stage}}
  sshOptions:
    StrictHostKeyChecking: no

production:
  <<: *base
  stage: production
  branch: master
