.tile-grid
  display: grid
  grid-template-columns: repeat(8, 1fr)
  grid-gap: 10px
  grid-auto-rows: minmax(100px, auto)

.tile
  padding: 10px 15px

.tile-1
  grid-column-end: span 1

.tile-2
  grid-column-end: span 2

.tile-4
  grid-column-end: span 4