{% extends "primary_secondary_content_base.html.twig" %}

{% block title %}{{ "edit.title"|trans }}{% endblock %}
{% block description %}{{ "edit.description"|trans }}{% endblock %}
{% set color_class = "brown-background" %}

{% trans_default_domain "person" %}

{% block primary_content %}
    <h3>{{ "edit.person_edit_form"|trans }}</h3>
    {{ form(edit_form) }}
{% endblock %}

{% block secondary_content %}
{% endblock %}