{% import "widgets/base_widgets.html.twig" as base_widgets %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ asset('dist/css/styles.min.css') }}"/>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <meta name="description" content="{% block description %}{% endblock %}">
    <base href="/" target="_self">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i" rel="stylesheet">
</head>
<body>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->

{% block body %}

{% endblock %}

<script type="text/javascript" src="{{ asset('dist/js/scripts.min.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        boot();
    });
</script>
{% block javascript %}
{% endblock %}
</body>
</html>
