{% extends ':layout:base.html.twig' %}

{% set color_class = color_class_lower %}

{% block content %}
    <section class="content {{ color_class_upper }}">
        {% include "layout/parts/menu.html.twig" %}
        {% include "layout/parts/flashbag.html.twig" %}
        <div class="container index-container default-color">
            {% block content_upper %}
            {% endblock %}
        </div>
    </section>

    <section class="content {{ color_class_lower }}">
        <div class="container index-container default-color">
            {% block content_lower %}

            {% endblock %}
        </div>
    </section>
{% endblock %}