{% for type, messages in app.session.flashbag.all() %}
    <div class="container index-container {{ type }}-color">
        {% for message in messages %}
            <p class="no-margin">
                {{ message }}
            </p>
        {% endfor %}
    </div>
{% endfor %}