{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Registrierung erfolgreich{% endblock %}
{% block description %}Danke für deine Registrierung auf my_page.{% endblock %}

{% block fos_user_content %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.givenName}) }}</p>
    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}
{% endblock fos_user_content %}

