{% macro navbar_start(id, brand = false, class = "") %}
<nav class="navbar navbar-default {{ class }}">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            {% if brand %}
                <a class="navbar-brand" href="{{ path("homepage") }}">my_page.</a>
            {% endif %}
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#{{ id }}" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="{{ id }}">
            {% endmacro %}


            {% macro navbar_end() %}
        </div>
    </div>
</nav>
{% endmacro %}