@import "../imports/variables"

.blue-background, .info-color
  background-color: $color-secondary-1-0

.brown-background, .warning-color
  background-color: $color-secondary-2-0

.green-background
  background-color: $color-primary-0

.green2-background
  background-color: $color-secondary-3-0

.red-background, .error-color
  background-color: $color-complement-0
