.blue-background, .info-color {
  background-color: #555F76;
  color: #efefef; }

.brown-background, .warning-color {
  background-color: #B19E7A;
  color: #efefef; }

.green-background, .success-color {
  background-color: #618D61;
  color: #efefef; }

.green2-background {
  background-color: #496A6A; }

.red-background, .error-color {
  background-color: #B17A7A;
  color: #efefef; }

.gray-background, .default-color {
  background-color: #efefef;
  color: #555555; }
