{% extends "primary_secondary_content_base.html.twig" %}

{% block title %}{{ "hash_invalid.title"|trans }}{% endblock %}
{% block description %}{{ "hash_invalid.description"|trans }}{% endblock %}
{% set color_class = "brown-background" %}

{% trans_default_domain "access" %}

{% block primary_content %}
    <p>{{ "hash_invalid.message"|trans }}</p>
{% endblock primary_content %}

{% block secondary_content %}

{% endblock secondary_content %}