{% extends "divided_content_base.html.twig" %}

{% block title %}{{ "register"|trans }}{% endblock %}
{% block description %}{{ "register_thanks_action"|trans }}{% endblock %}
{% set color_class = "brown-background" %}

{% trans_default_domain "access" %}

{% block primary_content %}
    <p>{{ "register_thanks"|trans }}</p>
{% endblock primary_content %}

{% block secondary_content %}

{% endblock secondary_content %}