{% extends "primary_secondary_content_base.html.twig" %}

{% block title %}{{ "register_thanks.title"|trans }}{% endblock %}
{% block description %}{{ "register_thanks.description"|trans }}{% endblock %}
{% set color_class = "brown-background" %}

{% trans_default_domain "access" %}

{% block primary_content %}
    <p>{{ "register_thanks.message"|trans }}</p>
{% endblock primary_content %}