{% extends "form_content_base.html.twig" %}

{% block title %}{{ "new.title"|trans }}{% endblock %}
{% block description %}{{ "new.description"|trans }}{% endblock %}

{% block form_description %}
    <p>{{ "entity.description"|trans({}, "entity_doctor") }}</p>
{% endblock %}

{% trans_default_domain "administration_doctor" %}