@import "../imports/_variables"

.header
  padding-top: 0

.header-container
  padding: 0
  position: relative

.goto-dashboard
  position: absolute
  right: 0
  bottom: 35px
  background-color: $color-secondary-1-0
  &:hover
    background-color: $color-secondary-1-2


.goto-dashboard > a
  color: $grey-light
  padding: 23px
  display: block
  &:hover
    color: $grey-light

.logo-img
  display: block
  width: 100%

.logo-wrapper
  margin-bottom: 50px

@media (max-width: $break-tablet)
  .header-container
    padding-left: 20px
    padding-right: 20px
