section {
  padding: 100px 0; }

.content {
  min-height: calc(100% - 180px - 60px); }

.index-container {
  padding: 40px;
  position: relative; }

@media (max-width: 1030px) {
  .index-container {
    padding: 20px; } }

@media (max-width: 760px) {
  section {
    padding: 40px 0; } }
