@import '../imports/_variables'

section
  padding: 100px 0

.content
  min-height: calc(100% - 180px - 60px)

.index-container
  padding: 40px
  position: relative

.list-container
  margin-bottom: 20px

.message-container
  border: 1px solid $grey-light
  margin-bottom: 20px

@media (max-width: $break-tablet)
  .index-container
    padding: 20px
  section
    padding: 40px 0
  .go-buttons
    position: inherit
    padding-bottom: 20px
    margin-top: -10px
    &:after
      content: "."
      clear: both
      display: block
      visibility: hidden
      height: 0


@media (max-width: $break-mobile)
  section
    padding: 20px 0