{% extends "single_content_base.html.twig" %}

{% block title %}{{ "reset.title"|trans }}{% endblock %}
{% block description %}{{ "reset.description"|trans }}{% endblock %}

{% trans_default_domain "login" %}

{% block single_content %}
    <p>{{ "reset.reset_password_form_description"|trans }}</p>
    {{ form(form) }}
{% endblock %}