{% extends 'single_content_base.html.twig' %}

{% block title %}{{ "index.title"|trans }}{% endblock %}
{% block description %}{{ "index.description"|trans }}{% endblock %}

{% trans_default_domain "assign" %}

{% block single_content %}
    <div id="assign-app"></div>
{% endblock %}