{% extends "primary_secondary_content_base.html.twig" %}

{% block title %}{{ "new"|trans }}{% endblock %}
{% block description %}{{ "new_action"|trans }}{% endblock %}
{% set color_class = "brown-background" %}

{% trans_default_domain "organisation" %}

{% block primary_content %}
    <p>//sho org</p>
{% endblock primary_content %}

{% block secondary_content %}
    //adminstration link

{% endblock secondary_content %}