{% extends "primary_secondary_content_base.html.twig" %}
{% set color_class = globals_color_class_organisation %}

{% block title %}{{ "new"|trans }}{% endblock %}
{% block description %}{{ "new_action"|trans }}{% endblock %}

{% trans_default_domain "organisation" %}

{% block primary_content %}
    <p>//sho org</p>
{% endblock %}

{% block secondary_content %}
    //adminstration link

{% endblock %}