{% trans_default_domain 'FOSUserBundle' %}


<form action="{{ path('fos_user_resetting_send_email') }}" method="POST">

    <p>Geben Sie Ihre E-Mail ein. Wir senden Ihnen einen Link, um das Passwort zurückzusetzten.</p>

    <div class="row">
        <div class="col-md-6">
            <input type="text" id="username" name="username" required="required" class="form-control" placeholder="email">
        </div>
        <div class="col-md-6">
            <button id="reset-button" class="btn btn-primary">Zurücksetzten</button>
        </div>
    </div>

</form>