{% trans_default_domain 'FOSUserBundle' %}

<h1>Passwort zurücksetzten</h1>

{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
    {{ form_widget(form) }}
<div class="row">
    <div class="col-md-12">
        <button id="reset-button" class="btn btn-primary">Zurücksetzten</button>
    </div>
</div>
{{ form_end(form) }}