{% extends 'layout_base.html.twig' %}
{% import "widgets/breadcrumb.html.twig" as breadcrumb %}

{% block content %}
    <section class="content">
        {% if breadcrumbs is defined %}
            {{ breadcrumb.breadcrumbs(breadcrumbs, app.request, block("title")) }}
        {% endif %}
        <div class="container index-container white-color">
            <h1>{{ block("title") }}</h1>
            <h2>{% block description %}{% endblock %}</h2>
        </div>

        <div class="container shadow">
            <div class="row">
                <div class="col-md-8 index-container primary-area">
                    {% block form_content %}
                        {{ form(form) }}
                    {% endblock %}
                </div>
                <div class="col-md-4 index-container secondary-area">

                </div>
            </div>
        </div>
    </section>
{% endblock %}