{% extends 'layout/base.html.twig' %}

{% block content %}
<section class="content {{ theme_color }}-background">
    {% include "layout/parts/menu.html.twig" %}
    {% include "layout/parts/flashbag.html.twig" %}

    {% block list_content_wrapper_start %}

    {% endblock %}

    {% set condition = true %}
    {% for i in 0..10 if condition %}
        {% if block('list_content_' ~ i) is defined %}
            {% set _block = block('list_content_' ~ i) %}
            {% if _block is not empty %}
                <div class="container index-container default-color list-container">
                    {{ _block|raw }}
                </div>
            {% else %}
                {% set condition = false %}
            {% endif %}
        {% else %}
            {% set condition = false %}
        {% endif %}
    {% endfor %}

    {% block list_content_wrapper_end %}

    {% endblock %}
{% endblock %}