{% extends 'layout_base.html.twig' %}

{% block content %}
    <section class="content">
        <div class="container jumbotron">
            <h1 class="display-3">{{ block("title") }}</h1>
            <p class="lead">{% block description %}{% endblock %}</p>
        </div>

        {% set _pre_content = block('pre_content') %}
        {% if _pre_content|trim is not empty %}
            <div class="container card">
                <div class="card-body">
                    {% block pre_content %}
                    {% endblock pre_content %}
                </div>
            </div>
        {% endif %}

        <div class="container card">
            <div class="card-body">
                {% block single_content %}
                {% endblock single_content %}
            </div>
        </div>
    </section>
{% endblock %}