{% extends "single_content_base.html.twig" %}
{% import "macros/events.html.twig" as events %}
{% import "macros/event_line_models.html.twig" as event_line_model_macro %}

{% block title %}{{ "mine.title"|trans }}{% endblock %}
{% block description %}{{ "mine.description"|trans }}{% endblock %}
{% set color_class = "brown-background" %}

{% trans_default_domain "dashboard" %}

{% block single_content %}
    <div class="row">
        {% if eventLineModels|length == 0 %}
            <p>{{ "index.no_event_lines"|trans }}</p>
        {% else %}
            {% for eventLineModel in eventLineModels %}
                <div class="col-md-6">
                    {{ event_line_model_macro.show_full_table_single(eventLineModel) }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}