{% extends 'bundles/TwigBundle/Exception/error.html.twig' %}

{% trans_default_domain "static" %}

{% block additional_error_info %}
    <p>{{ "error.500"|trans }} <a href="mailto:info@nodika.ch">{{ "error.500_email"|trans }}</a> </p>
{% endblock %}