{% extends 'bundles/TwigBundle/Exception/error.html.twig' %}

{% trans_default_domain "bundles_TwigBundle_exception" %}

{% block additional_error_info %}
    <p class="text-secondary">{{ "index.404"|trans }}</p>
{% endblock %}

{% block image_class %}image-404-error{% endblock %}