{% extends 'bundles/TwigBundle/Exception/error.html.twig' %}

{% trans_default_domain "error" %}

{% block additional_error_info %}
    <p class="text-secondary">{{ "error.404"|trans }}</p>
{% endblock %}